@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.homePage {
    margin: 10vh auto;
    padding: 1rem;
    width: 80%;
    height: 70vh;
    @include flexEven(column);
    button {
        outline: none;
        border: none;
        background-color: sandybrown;
        padding: 3px 8px;
        border-radius: 10px;
        font-size: 1.3rem;
    }
}
.jokeBox {
    text-align: left;
    padding-left: 3px;
    width: 100%;
    height: 60%;
    @include flexCenter(column);
    font-size: 1.3rem;
    font-family: $font;
}
