@use "../../../css/variables.scss" as *;
@use "../../../css/mixins.scss" as *;

$clamp: clamp(0.7rem, 2vw, 1.5rem);

.control {
	@include fEven(column);
	@include shadow2;
	width: $w;
	height: $w;
	border-radius: $border;
	padding: 0 0.4rem;
	p {
		color: white;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
		border-radius: $border / 2;
		font-size: $clamp;
		@include fBetween(row);
		width: $w;
		transition: color 100ms ease-in-out;
		cursor: pointer;
		padding: 0 0.4rem;
		&:hover {
			color: rgba(238, 223, 223, 0.712);
		}

		span {
			color: rgb(19, 83, 83);
			font-size: $clamp;
		}
	}
}
