@use "../../../css/variables.scss" as *;
@use "../../../css/mixins.scss" as *;

$dist: 0.2rem;

.controlPanel {
	@include fEven(column);
	padding-left: $dist;
	width: $w;
	height: $w;
	border-radius: $border;
	background-color: rgba(255, 255, 255, 0.15);
	h2 {
		color: rgb(216, 206, 206);
	}
	&:hover {
		background-color: $tertiaryColor;
	}
	form {
		@include fCenter(column);
		font-size: clamp(0.7rem, 2vw, 1.5rem);
		input {
			width: 25%;
			outline: none;
			border: none;
			margin: $dist;
			padding: $dist;
			background-color: $secondaryColor;
		}
	}
}

.controlButton {
	margin: $dist;
	padding: 6px;
	outline: none;
	border: none;
	background-color: rgb(12, 66, 68);
	color: white;
	border-radius: $dist;
	&:hover {
		cursor: pointer;
		color: grey;
	}
	&:active {
		transform: scale(0.97);
	}
}

.errorPanel {
	width: $w;
	height: $w;
	@include fAround(column);
	span {
		text-align: center;
		color: crimson;
		font-weight: bold;
		font-size: clamp(0.8rem, 2.5vw, 1.2rem);
		letter-spacing: 1px;
	}
}
