@use '../../../css/variables.scss' as *;
@use '../../../css/mixins.scss' as *;

$primaryColor: cadetblue;

.liftStyle {
	width: 40%;
	border-radius: 5px;
	@include fEven(row);
	background-color: darken($primaryColor, 10%);
	button {
		outline: none;
		border: none;
		font-size: clamp(0.6rem, 1.2vw, 10rem);
		padding: clamp(1px, 0.5px + 1.5vw, 4px);
		background-color: darken($primaryColor, 30%);
		color: $primaryColor;
		border-radius: clamp(5%, 2% + 1vw, 15%);
		font-family: monospace;
		&:hover {
			color: lighten($primaryColor, 30%);
		}
		&.active {
			color: white;
		}
	}
}

@media only screen and (max-width: 800px) {
	.liftStyle {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		overflow: hidden;
		overflow-y: scroll;
	}
}
