@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

$primaryColor: cadetblue;

.container {
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    @include flexBetween(row);
    padding: 1rem;
    background-color: darkkhaki;
}

.block {
    position: relative;
    display: grid;
    place-items: center;
    outline: 5px solid $primaryColor;
}

.control_panel {
    @include gridCenter;
    height: 50vh;
    width: 300px;
}

.state_panel {
    @include gridCenter;
    height: 50vh;
    width: 300px;
}

.leftSide {
    left: 2%;
    position: absolute;
    bottom: 0;
}
.rightSide {
    right: 2%;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 800px) {
    .container {
        @include flexEven(row);
    }

    @media only screen and (max-width: 450px) {
        .container {
            @include flexBetween(column);
            padding-top: 3rem;
        }
    }
}
