@use '../../css/variables.scss' as *;
@use '../../css/mixins.scss' as *;

$primaryColor: cadetblue;

.container {
	width: 100%;
	min-width: 100%;
	min-height: 100vh;
	@include fBetween(row);
	flex-wrap: wrap;
	padding: 1rem;
	background-color: darkkhaki;
}

.block {
	position: relative;
	display: grid;
	place-items: center;
	outline: 5px solid $primaryColor;
	// font-size: clamp(0.6rem, 3vw, 1.5rem);
}

.control_panel {
	@include centered;
	height: 50vh;
	width: 20%;
}

.state_panel {
	@include centered;
	height: 50vh;
	width: 20%;
}

.leftSide {
	left: 2%;
	position: absolute;
	bottom: 0;
}
.rightSide {
	right: 2%;
	position: absolute;
	bottom: 0;
}

@media only screen and (max-width: 800px) {
	.container {
		@include fEven(row);
		.block {
			width: 60%;
		}
	}

	@media only screen and (max-width: 450px) {
		.container {
			@include fEven(column);
		}
		.block {
			width: 60%;
		}
	}
}
